@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    Universidad Complutense de Madrid<br />

    Avda. de Séneca, 2<br />
    Ciudad Universitaria<br />
    28040 MADRID<br />

    <abbr title="Teléfono">+34 ...</abbr>
</address>

<address>
    <strong>Soporte y contacto:</strong>   <a href="mailto:opendatafdi@gmail.com">opendatafdi@gmail.com</a><br />
    <strong>Facebook:</strong>   <a href="">opendatafdi@gmail.com</a><br />
    <strong>Twitter:</strong>   <a href="">opendatafdi</a><br />
</address>