@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OPEN DATA</h1>
    <h1>AYUNTAMIENTO DE MADRID</h1>
    <p class="lead">El Portal de Datos Abiertos del Ayuntamiento de Madrid está dedicado a promover el acceso a los datos del gobierno municipal e impulsar el desarrollo de herramientas creativas para atraer y servir a los ciudadanos de la ciudad de Madrid.</p>
    <p><a href="/Home/QueSonDatosAbiertos" class="btn btn-primary btn-lg">Saber más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Características de Datos Abiertos</h2>
        <p>
            Los datos abiertos son aquellos que se pueden utilizar, reutilizar y redistribuir 
            libremente por cualquier usuario que así lo desee, y puede ser compartida de la 
            misma forma en que aparecen. Las características fundamentales que poseen todos 
            los conjuntos de datos abiertos son:
        </p>
        <p><a class="btn btn-default" href="/Home/CaracteristicasOD">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Apertura de Datos Abiertos</h2>
        <p>Recomendaciones para creación de Datos abiertos</p>
        <p><a class="btn btn-default" href="/Home/AperturaOD">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Repositorios</h2>
        <p>Acceso a los repositorios que hacen posible esta webApplication.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Saber más &raquo;</a></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Saber más &raquo;</a></p>
    </div>
</div>