<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://opendatafdi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>opendatafdi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>opendatafdi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$opendatafdi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebApplicationOpenData.Models.AgendaEventosDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:opmadridayuapi.database.windows.net,1433;Initial Catalog=opendatafdi299;User ID=fao@opmadridayuapi;Password=102030Fa" Name="Data Source=tcp:opmadridayuapi.database.windows.net,1433;Initial Catalog=opendatafdi299;User Id=fao@opmadridayuapi;Password=102030Fa" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplicationOpenData.Models.AgendaEventosDBContext, WebApplicationOpenData" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebApplicationOpenData.Models.WifiDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:opmadridayuapi.database.windows.net,1433;Initial Catalog=opendatafdi299;User ID=fao@opmadridayuapi;Password=102030Fa" Name="Data Source=tcp:opmadridayuapi.database.windows.net,1433;Initial Catalog=opendatafdi299;User Id=fao@opmadridayuapi;Password=102030Fa" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplicationOpenData.Models.WifiDBContext, WebApplicationOpenData" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebApplicationOpenData.Models.AgendaEventosDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:opmadridayuapi.database.windows.net,1433;Initial Catalog=opendatafdi299;User Id=fao@opmadridayuapi;Password=102030Fa</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebApplicationOpenData.Models.WifiDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:opmadridayuapi.database.windows.net,1433;Initial Catalog=opendatafdi299;User Id=fao@opmadridayuapi;Password=102030Fa</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="WebApplicationOpenData.Models.AgendaEventosDBContext" />
    <_ConnectionStringsToInsert Include="WebApplicationOpenData.Models.WifiDBContext" />
  </ItemGroup>
</Project>